<!DOCTYPE html>
<html>
<head>
    <title>
        ~잔디 심기~
    </title>
</head>
<body>
    <form method="POST" action="/check">
        <div style="text-align:center">
            <h3> 누가 잔디를 안 심었나 확인하자!<br></h3>
            <h5> 확인하고자 하는 기간을 선택하세요.</h5>
            <h5> 당일은 확인이 불가능합니다. 참고해주세요.</h5>
            Start_date &nbsp;
            <input type="date" name="start_date"><br>
            End_date &nbsp;
            <input type="date" name="end_date"><br><br>
            <button type="submit">확인하기</button>
        </div>
    </form>
    <div style="text-align:center">
        <p>
            {% if start_date == None and end_date == None %}
                <h5> 기간을 선택하세요. </h5>
            {% else %}
                <h5> {{start_date}} ~ {{end_date}} <br></h5>
                {% for name,cnt,penalty in zip(names,cnts,penaltys) %}
                    <h5> {{name}}님이 심지 않은 잔디 수 : {{cnt}}, 내야할 벌금 : {{penalty}} <br></h5>
                {% endfor %}
            {% endif %}
        </p>
    </div>
</body>
</html>
